<div class="">
  <app-header></app-header>
</div>
<section>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</section>
<footer>
<div>
  <span class="bi bi-card-image"></span>
</div>
<div>
  <div class="box">
    <span class="bi bi-envelope"></span>
    <input type="text" placeholder="Enter your email">
    <button>Subscribe</button>
  </div>
</div>
<div class="left">
 <div class="icons"><span class="bi bi-youtube"></span></div>
 <div class="icons"><span class="bi bi-facebook"></span></div>
 <div class="icons"><span class="bi bi-twitter"></span></div>
 <div class="icons"><span class="bi bi-globe"></span></div>
 <div class="icons"><span class="bi bi-instagram"></span></div>
</div>
</footer>